[submodule "libs/comms/web-socket-client"]
	path = libs/comms/web-socket-client
	url = https://github.com/gimite/web-socket-ruby.git
[submodule "widgets"]
	path = widgets
	url = git@github.com:jsgriffin/dash-widgets.git
