<html>
	<head>
		<title>Dashboard</title>	
		
		<script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="/js/less-1.1.3.js"></script>
		<script type="text/javascript" src="/js/inheritance.js"></script>	
		<script type="text/javascript" src="/js/widget.js"></script>	
		<script type="text/javascript" src="/js/dashboard.js"></script>	
		<script type="text/javascript" src="/js/scripts.js"></script>	
	</head>
	<body>
        <div id="widgets-panel">
            <h2>Available Widgets</h2>
            
            <ul>
                <% widgets.each do |widget| %>
                    <li><%= widget %></li>
                <% end %>
            </ul>
        </div>
        
        <div id="widget-container"></div>
	</body>
</html>